@import "tailwindcss";

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes gradient-xy {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@layer utilities {
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-xy 3s ease infinite;
  }
}
